html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.main-color{
    background-color: hsl(37, 32%, 90%);
}

.secondary-color{
    background-color: hsl(32, 84%, 39%);
}

.tertiary-color{
    background-color: hsl(197, 68%, 46%);

}
.content{
    margin-left: 25px;
}
/*
.card {
    background-color: hsl(0, 0%, 94%);
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.08);
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.08);
    width: 500px;
    padding: 25px;
    margin-bottom: 25px;
}
*/


.topbar {
    width: 100%;
    padding: 25px;
}



.topbar h1 {
    color: white;
}

.links {
    position: relative;
    top: 25px;
}

.link {
    flex-grow: 1;
    margin-right: 5px;
    color: hsl(180, 5%, 12%);
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}

.button-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 420px;
}

.filter-btn{
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
    flex-grow: 1;
}

.centered{
    position: relative;
    bottom: -20px;
    margin: auto;
    padding-right: 20px;
}

.circle{
    border: solid grey;
    display: inline-block;
    padding: 4px;
    border-radius: 100%;
}

.circle-active{
    border: solid hsl(143, 65%, 39%);
    background-color: hsl(143, 65%, 39%);
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 0.2rem;
    height: 0.2rem;
}

.arrow-up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}