html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.primary-color {
    background-color: hsl(193, 33%, 81%);
}

.secondary-color {
    background-color: hsl(189, 86%, 15%);
}

.tertiary-color {
    background-color: hsl(337, 82%, 58%);
}

.white-background {
    background-color: white;
}

.primary-text-color {
    color: hsl(100, 0%, 0%);
}

.secondary-text-color {
    color: hsl(100, 100%, 100%);
}

.tertiary-text-color {
    color: hsl(0, 0%, 53%);
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

.primary-border-color {
    border: solid hsl(100, 0%, 0%);
}

.secondary-border-color {
    border: solid hsl(100, 100%, 100%);
}

.tertiary-border-color {
    border: solid hsl(0, 0%, 53%);
}

.drop-shadow{
    -webkit-box-shadow: 5px 4px 15px -1px rgba(10, 34, 37, 0.15);
    box-shadow: 5px 4px 15px -1px rgba(12, 42, 45, 0.15);
}

.primary-hr-settings {
    height: 1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container-space-between {
    justify-content: space-between;
}

.flex-container-space-around {
    justify-content: space-around;
}

.tag {
    flex-basis: auto;
    border-radius: 40px;
    padding: 3px 8px;
    margin: 3px;
    font-size: smaller;
}

.content {
    margin-left: 25px;
    margin-right: 25px;
}

.topbar {
    width: 100%;
    padding: 25px;
}

.links {
    position: relative;
    top: 25px;
}

.link {
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px -4px 15px -2px rgba(47, 1, 34, 0.54);
}

.link:hover{
    background-color: hsl(337, 100%, 76%);
    text-decoration: none;
}

.link:visited{
    text-decoration: none;
}

.button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 420px;
}

.filter-btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
    flex-grow: 1;
}

.centered {
    position: relative;
    margin: auto;
    text-align: center;
}

.circle {
    border: solid lightgray;
    display: inline-block;
    padding: 4px;
    border-radius: 100%;
}

.circle-active {
    border: solid hsl(143, 65%, 39%);
    background-color: hsl(143, 65%, 39%);
}

.arrow {
    border: solid darkgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 0.2rem;
    height: 0.2rem;
    position: relative;
    bottom: -25px;
}

.arrow-up {
    transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
}

.right {
    position: absolute;
    right: 15px;
}

#cv-container {
    min-width: 300px;
    max-width: 420px;
}

.container{
    width: 100%;
    height: 100%;
}

.image-size{
    width: 300px;
}

.image-link{
    width: 25px;
    margin-right: 10px;
}